doctype html
html
    mixin clients (src, alt)
        .col-lg-2.col-md-2.col.sm-2
            img(src=src, alt=alt)
    head
        title Fashion Accessories
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,700' rel='stylesheet' type="text/css")
        link(rel="stylesheet", href="assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="assets/css/main.css")
        link(rel="icon", href="assets/images/favicon.png")
    body 
        include _header.jade
        section#tab-nav
            .container
                ul.nav
                    li.active: a(href="index.html") Home
                    li: a(href="contact.html") Contact us
                .car.text-center.btn
                    i.fa.fa-shopping-cart
                    p My Cart
                    p 2 item(s) - $244.00 
        section#clients
            .container
                .row
                    + clients ("assets/images/client1.jpg", "activeden")
                    + clients ("assets/images/client2.jpg", "3docean")   
                    + clients ("assets/images/client3.jpg", "envato")   
                    + clients ("assets/images/client4.jpg", "videohive")   
                    + clients ("assets/images/client5.jpg", "graphicriver")   
                    + clients ("assets/images/client6.jpg", "codecanyon")       
        include _footer.jade
        script(src="assets/js/jquery.js")
        script(src="assets/js/bootstrap.min.js")
